# Front
front/node_modules/
front/dist/
front/test-results/
front/.vite/

# Back
back/target/

# Sensitive
.env

# Docker
postgres-data/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
